.slick-slider{
  margin-top: 20px;
  padding-left:20px;
}

.slick-slider button{
  opacity: 0;
  height: 100%;
  width: 5vw;
  z-index: 1;
}

.slick-slider button:hover{
  opacity: 1;
  transition: opacity 0.2s ease 0s;
}

 .slick-slider ul button{
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #f9f9f9;

}

.slick-dots li button:before{
  color:gray;
}


.slick-slider div {
  border-radius: 4px;
  cursor:pointer;
  position: relative;
}
.slick-slider div a{
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px,
      rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 4px;
}
.slick-slider div a:hover{
  padding: 0;
  border: 4px solid rgba(249, 249, 249, 0.8);
  transition-duration: 300ms;
}

.slick-slider div a img{
  width: 100%;
  height: 100%;
}


.slick-list {
  overflow: initial;
}
.slick-prev {
  left: 1px;
  
}

.slick-next {
  right: 1px;
}