*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;

}



.wrapper{
    width:100vh;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.custom-form{
    background-color: yellow;
    width:100%;
    max-width:400px;
    margin:auto;
    margin-top:10%;
    border:2px solid black;
    padding:5px;
}
